build/node_modules/*
build/public/*
build/server/*
tests/coverage/*
node_modules/*
release/*
build/*
.tmp/*
.idea/*

source/**/*_old.*
source/server/config.js
source/styles/_imagehelper.scss
sftp-config.json
_imagehelper.scss
*.sublime-workspace
sublime-gulp.log
yarn-error.log
npm-debug
npm-debug.log
*.zip
.hg
.git
.svn
CVS
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
.npmrc
node_modules
config.gypi
*.orig
.netbeans
nbproject
.node_history
_imagehelper.scss
.vscode
